/* header{
  background-color: orange;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

nav {
  background-color: rgb(7, 167, 231);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
 }

nav .box{
  width: 110px;
  height: 30px;
  background-color:white;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}
article{
  
  height: 80px;
  display: flex;
  margin: 20px;
}
article .box{
  width: 900px;
  height: 300px;
  background-color:white;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}
article .box .box01{
  width: 400px;
  height: 300px;
  background-color:rgb(183, 87, 14);
  margin: 20px;
  
  justify-content: center;
  align-items: center;
  font-size: large;
}
article .box1{
  width: 400px;
  height: 300px;
  background-color:white;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
} */