*{
  margin: 0;
}

.background{
  background-image: url('/src/assets/img01.jpg');
  background-size: cover; /* Adjusts size to cover entire element */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling */
  width: 100wh;
   height: 100vh;
}
.background h1{
  padding-top: 120px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 50px;
  color: #6b093f;
}
.background h2{
  padding-top: 450px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 40px;
  color: #624cdf;
  padding-left: 550px;

}
.color-container{
  width: 280px;
  height: 280px;
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid black;

}
input{ 
  width: 200px;
  height: 50px;
  position: absolute;
  color:black;
  font-size: xx-large;
  text-align: center;
  background-color: rgb(214, 245, 218);
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

}
h1{
  text-align: center;
  color:black;
  font-size: xx-large;
  
}

